/* 
  ====== Products.css ======
  Contains styling used in products
*/

.product {
  --width: clamp(11.625rem, 8.215rem + 12.4vw, 19.375rem);
  --height: clamp(18rem, 12.555rem + 19.8vw, 30.375rem);

  --padding: clamp(0.75rem, 0.64rem + 0.4vw, 1rem);
  --image-width: clamp(7.5rem, 5.3rem + 8vw, 12.5rem);

  --discount-padding: clamp(0.3125rem, 0.175rem + 0.5vw, 0.625rem) clamp(0.5rem, 0.335rem + 0.6vw, 0.875rem);
  --discount-font-size: clamp(0.75rem, 0.64rem + 0.4vw, 1rem);

  --title-margin-top: clamp(1.5rem, 0.84rem + 2.4vw, 3rem);
  --title-height: clamp(2.25rem, 1.865rem + 1.4vw, 3.125rem);
  --title-line-height: clamp(1.125rem, 1.015rem + 0.4vw, 1.375rem);

  --companyName-size: clamp(0.8125rem, 0.62rem + 0.7vw, 1.25rem);
  --companyName-margin-top: clamp(0.5rem, -0.215rem + 2.6vw, 2.125rem);

  --price-margin-top: clamp(0.125rem, -0.15rem + 1vw, 0.75rem);
  --rating-icon-size: clamp(0.875rem, 0.82rem + 0.2vw, 1rem);

  --end-text-size: clamp(0.75rem, 0.64rem + 0.4vw, 1rem);
  --instock-dot-size: clamp(0.5rem, 0.335rem + 0.6vw, 0.875rem);
}

.product {
  display: flex;
  flex-direction: column;
  width: var(--width);
  min-width: var(--width);
  height: var(--height);
  background-color: var(--col-grey-light);
  padding: var(--padding);
  border-radius: 0.5rem;
  cursor: pointer;
  transition:var(--transition-normal);
  border: 1px solid transparent;
}

  /* ON PRODUCT HOVER */
.product:hover {
  /* background-color: var(--col-grey-normal); */
  border-color: var(--col-grey-dark);
}

.product .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .image {
  display: flex;
  justify-content: center;
}

.product .image img {
  width: var(--image-width);
}

.product .top .discount {
  padding: var(--discount-padding);
  color: var(--col-white-normal);
  background-color: var(--col-primary-normal);
  font-size: var(--discount-font-size);
  border-radius: 0.5rem;
}

.product .title {
  height: var(--title-height);
  line-height: var(--title-line-height);
  margin-top: var(--title-margin-top);
  overflow: clip;
  text-wrap: wrap;
  padding-bottom: 0;
  font-size: var(--text-lg);
  font-weight: var(--weight-medium);
  color: var(--dark-mode-text);
}

.product .companyName {
  margin-top: var(--companyName-margin-top);
  font-size: var(--companyName-size);
  color: var(--col-grey-dark);
}

.product .price {
  color: var(--dark-mode-text);
  margin-top: var(--price-margin-top);
  font-size: var(--text-xl);
  font-weight: var(--weight-medium);
}

.product .end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product .ratingBlock {
  display: flex;
  align-items: center;
  column-gap: 0.1rem;
}

.product .rating img {
  width: var(--rating-icon-size);
  height: var(--rating-icon-size);
}

.product .rating {
  --rating: 4.5;
  display: flex;
  position: relative;
  overflow: hidden;
  width: min-content;
}

.product .rating > div {
  display: flex;
  column-gap: 0.1rem;
}

.product .rating .filled {
  position: absolute;
  /* width: calc(var(--rating) * 20% + 0.25rem); */
  width: calc(var(--rating) * 20% + 0.05rem);
  overflow: hidden;
}

.product .inStock {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  font-size: var(--end-text-size);
  color: var(--dark-mode-text);
}

.product .inStock::before {
  content: '';
  display: block;
  width: var(--instock-dot-size);
  height: var(--instock-dot-size);
  background-color: var(--col-green-normal);
  border-radius: var(--border-radius-circle);
}

.product .boughtNumber {
  font-size: var(--end-text-size);
}