/* 
  ====== Colors.css ======
  Colors palatte variables  used in the website
*/

html {

  --col-primary-normal: #D8324A;
  --col-primary-light: #FFE7E7;
  --col-secondary-normal: #EBC088;
  --col-grey-normal: #636363;
  --col-grey-light: #63636333;
  --col-lightGrey-normal: #F1F1F1;
  --col-black-normal: #000;
  --col-white-normal: #fff;

  /* Text colors */
  --col-text-normal: #110707;
  --col-text-white: #fff;
  --col-text-primary: var(--col-primary-normal);


}

html {
  color: var(--col-text-normal);
}