/* 
 ====== Header.css ======
  Contains collection of styles to apply it in everything inside `header`
  Navbar, buttons, logo, ...
*/

header {

  /* Header properties variables */

  --width: 100%;
  
  --padding-x: clamp(0.75rem, -0.9rem + 6vw, 4.5rem);
  --padding-y: 30px;
  /* --padding-y: clamp(0.3125rem, 0.0375rem + 1vw, 0.9375rem); */

  --col-gap: 1rem;

  --search-input: 1rem 0;

  /* Navbar and buttons variables*/
  /* --button-padding: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem) clamp(1rem, 0.45rem + 2vw, 2.25rem); */
  --button-height: clamp(2.5rem, 1.95rem + 2vw, 3.75rem);
  --button-padding: clamp(2.125rem, 1.575rem + 2vw, 3.375rem);
  --button-text-size: clamp(1rem, 0.89rem + 0.4vw, 1.25rem);

  --nav-col-gap: clamp(1rem, 0.67rem + 1.2vw, 1.75rem);

  --nav-right-padding: 60px;
}

/* 
  ====== Styles ======
*/

header {
  background-color: var(--col-primary-extraLight);
  padding: 0 calc((100% - 1440px) / 2);
}

/* header container */
.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: var(--width);
  padding: var(--padding-y) var(--padding-x);
  column-gap: var(--col-gap);

}

.header .logo {
  font-size: var(--text-3xl);
  font-weight: var(--weight-medium);
  letter-spacing: calc(-0.04 * var(--text-3xl));
}

header nav {
  display: flex;
  align-items: center;
}

header nav button {
  height: var(--button-height);
  font-size: var(--button-text-size);
  padding: 0 var(--button-padding);
  margin-right: var(--button-margin);
  border-radius: 0.5rem;
  background-color: var(--col-primary-normal);
  color: var(--col-primary-dark);
  font-weight: var(--weight-semibold);
  margin-left: 0.5rem;
  color: var(--col-text-white);
}

header .nav {
  color: var(--col-grey-normal);
  font-size: var(--text-lg);
  text-align: center;
  font-weight: var(--weight-semibold);
  column-gap: var(--nav-col-gap);
  margin-right: var(--nav-right-padding);
}

header .nav a:hover {
  color: var(--col-text-normal);
  font-weight: var(--weight-semibold);
}

.header .logo a {
  display: flex;
  font-weight: var(--weight-light);
}

.header .logo .main {
  font-weight: var(--weight-bold);
  color: var(--col-primary-normal);
}

.header #toggle-dark-mode {
  transform: translateY(5px);
}