
.serviceGrid {
  --width: clamp(25.5rem, 25.28rem + 0.8vw, 26rem);

  --padding-bottom: clamp(0.75rem, 0.53rem + 0.8vw, 1.25rem);

  --col-gap: clamp(0.625rem, 0.13rem + 1.8vw, 1.75rem);

  --text-padding: 20px;

  --btn-height: 48px;
  --btn-padding: 0 36px;

  --icon-width: 70px;

  --padding-top: 27px;
  --padding-left: 16px;

  --service-gap-1: 28px;
  --service-gap-2: 12px;
}

.serviceGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* column-gap: var(--col-gap); */
  row-gap: var(--col-gap);
}

.service {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--col-gap));
  padding: 0 var(--padding-left);
  padding-bottom: var(--padding-bottom);
  border: 2px solid var(--col-grey-light);
  
  padding-top: var(--padding-top);
  border-radius: 0.5rem;
}

.service .icon {
  width: var(--icon-width);
  height: auto;
}

.service .serviceName {
  padding-top: var(--padding-top);
  padding-bottom: var(--service-gap-2);
  font-size: var(--text-xl);
  font-weight: var(--weight-semibold);
}

.service .text {
  color: var(--col-grey-normal);
  font-size: var(--text-base);
  font-weight: var(--weight-regular);
  padding-bottom: var(--text-padding);
}

.service .button {
  width: 100%;
  display: flex;
}

.service .button button {
  height: var(--btn-height);
  padding: var(--btn-padding);
  border: 1.5px solid var(--col-primary-normal);
  border-radius: var(--border-radius-round);
  color: var(--col-text-normal);
}

@media screen and ( max-width: 900px ) {
  .serviceGrid {
    grid-template-columns: minmax(0, 1fr);
  }

  .service .button {
    justify-content: flex-end;
  }
}